pom.xml
*jar
/lib/
/classes/
.lein-deps-sum
/resources/public/css/bootstrap-1.2.0.min.css
/resources/public/js/jquery-1.6.3.min.js
/resources/public/js/jquery.tablesorter.min.js
/resources/public/img/graphs
app/.couchapprc