

graphs_help = /home/josh/git/research/sisyphus/help/graphs.md

cachedir = /home/josh/git/research/sisyphus/cache

port = 3737

sisyphus_dbhost = localhost
sisyphus_dbname = sisyphus_retrospect
sisyphus_dbuser = user
sisyphus_dbpassword = password

geppetto_dbhost = localhost
geppetto_dbname = retrospect
geppetto_dbuser = user
geppetto_dbpassword = password

