
.content {
    background: white;
}

.fields_checkboxes_header,
.new_template_graph_form_header,
.code_header,
.update_header,
.download_header {
    cursor: pointer;
}

div.params {
    position: relative;
}

div.params span.paramscount {
    float: right;
    text-align: center;
    font-size: 200%;
    top: 0;
    right: 0;
    margin: 1em;
    width: 3em;
}

div.params span.paramscount small {
    font-size: 50%;
}

div.paramsmodal div.modal {
    display: none;
}

table, table.tablesorter {
    width: 700px;
}
